@{

}

<h1>Success</h1>
<p>Your car <b>@ViewBag.carName</b> has been reserved successfully and your reservation code is <b>@ViewBag.code</b></p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">OK</a>

